<%= simple_form_for shallow_args(@department.customer, @department), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :descrizione %>
  <%= f.input :stato %>
  <%= f.association :customer, label_method: :ragione_sociale, include_blank: false%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customer_departments_path(@department.customer), :class => 'btn' %>
  </div>
<% end %>
