<%- model_class = Outbox -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:destinatario) %></th>
      <th><%= model_class.human_attribute_name(:oggetto) %></th>
      <th><%= model_class.human_attribute_name(:data_invio) %></th>
      <th><%= model_class.human_attribute_name(:stato) %></th>
      <th><%= model_class.human_attribute_name(:data_stato) %></th>
      <th><%= model_class.human_attribute_name(:risposta) %></th>
      <th><%= model_class.human_attribute_name(:allegato) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @outboxes.each do |outbox| %>
      <tr>
        <td><%=l outbox.created_at %></td>
        <td><%= outbox.destinatario %></td>
        <td><%= outbox.oggetto %></td>
        <td><%=l outbox.data_invio, format: :long%></td>
        <td><%= outbox.stato_text %></td>
        <td><%=l outbox.data_stato %></td>
        <td><%= outbox.risposta %></td>
        <td><%= outbox.allegato %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_outbox_path(outbox), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      outbox_path(outbox),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_outbox_path,
            :class => 'btn btn-primary' %>
