<%- model_class = Shipment -%>
<div class="page-header">
  <h1>Outbox</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Tipo</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:template) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>

    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><div data-toggle="tooltip" title="<%= shipment.account.name %>" class="simbolo icon-account-<%= shipment.account.channel_id %>"></div></td>
        <td><%= link_to shipment.description, shipment_path(shipment) %></td>

        <td><%= fileAttachmentLinkView shipment.template %><%= fileAttachmentLinkDownload shipment.template %></td>
        <td><%= fileAttachmentLinkView shipment.source %><%= fileAttachmentLinkDownload shipment.source %></td>

        <td><%=l shipment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shipment_path,
            :class => 'btn btn-primary' %>
