<%- model_class = Shipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table class="table table-striped" id="mainTable">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:template) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:source) %></th>
      <th>Invii</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>

    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= link_to shipment.description, shipment_path(shipment) %></td>

        <td><%= attachmentLink shipment.template.template_doc, ['View', 'Download'] %></td>
        <td><%= attachmentLink shipment.source, ['Table', 'View', 'Download'] %></td>

        <td><%= progressBar shipment %></td>

        <td><%=l shipment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shipment_path,
            :class => 'btn btn-primary' %>
</div>
