<%- model_class = Shipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Tipo</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:template) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>

    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.zf_id %></td>
        <td><%= link_to shipment.description, shipment_path(shipment) %></td>
        <td><%= fileAttachmentLink shipment, :template %></td>
        <td><%= fileAttachmentLink shipment, :source %></td>
        <td><%=l shipment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shipment_path,
            :class => 'btn btn-primary' %>
