<%- model_class = Shipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table class="table table-striped" id="mainTable">
  <thead>
    <tr>

      <th style="min-width: 40px"><%= d 'Tipo'%></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:template) %></th>
      <th><i class="icon-file"></i> <%= model_class.human_attribute_name(:source) %></th>
      <th>Invii</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>

    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><div data-toggle="tooltip" title="<%= shipment.account.name %>" class="simbolo icon-account-<%= shipment.account.channel_id %>"></div></td>
        <td><%= link_to shipment.description, shipment_path(shipment) %></td>

        <td><%= fileAttachmentLinkView shipment.template %><%= fileAttachmentLinkDownload shipment.template %></td>
        <td><%= fileAttachmentLinkView shipment.source %><%= fileAttachmentLinkDownload shipment.source %><%= link_to 'View', datasource_show_path(shipment.source), remote: true %></td>

        <td><!--<div class="progress">
          <div class="progress-bar PRONTO_PER_INVIO" style="width: 20%">
            <span class="sr-only">4 pronti per invio</span>
          </div>
          <div class="progress-bar INVIATO" style="width: 35%">
            <span class="sr-only">7 inviato</span>
          </div>
          <div class="progress-bar CONSEGNATO" style="width: 10%">
            <span class="sr-only">2 errore</span>
          </div>
          <div class="progress-bar ERRORE" style="width: 10%">
            <span class="sr-only">2 consegnato</span>
          </div>
        </div>--><%= progressBar shipment %></td>

        <td><%=l shipment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shipment_path,
            :class => 'btn btn-primary' %>
</div>