<%- model_class = Shipment -%>
<div class="page-header">
  <%=t '.title', :default => model_class.model_name.human.titleize %> : <span class="titolo"><%= @shipment.description %></span>   <%= fileAttachmentLinkView @shipment.template.template_doc %>  <%= fileAttachmentLinkView @shipment.source %>
</div>



<% unless @shipment.outboxes.nil?  %>
    <%= render 'outboxes/outboxes', outboxes: @shipment.outboxes %>
<% end %>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shipments_path, :class => 'btn'  %>


</div>
