<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @shipment.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipment.user %>
</p>

<p>
  <strong>Template:</strong>
  <%= @shipment.template %>
</p>

<p>
  <strong>Source:</strong>
  <%= @shipment.source %>
</p>

<p>
  <strong>Outbox count:</strong>
  <%= @shipment.outbox_count %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
