<%- model_class = Inbox -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped" id="mainTable">
  <thead>
    <tr>
      <th><%= d model_class.human_attribute_name(:mittente) %></th>
      <th><%= d model_class.human_attribute_name(:numero_protocollo) %></th>
      <th style="min-width: 60px"><%= d model_class.human_attribute_name(:numero_pagine) %></th>
      <th><%= d model_class.human_attribute_name(:allegato) %></th>
      <th><%= d model_class.human_attribute_name(:data_ricezione) %></th>

      <th><%= d t('.actions', :default => t("helpers.actions")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @inboxes.each do |inbox| %>
      <tr>

        <td><%= inbox.mittente %></td>
        <td><%= inbox.numero_protocollo %></td>
        <td><%= inbox.numero_pagine %></td>
        <td><%= fileAttachmentLinkView inbox.allegato %></td>
        <td><%= l inbox.data_ricezione, format: :midlle %></td>
        <td>
          <%= link_to 'Dettagli', inbox, remote: true , :class => 'btn btn-mini' %>
          <%= link_to 'Accetta', '#', :class => 'btn btn-mini btn-success' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      inbox_path(inbox),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

